.box {
    display: flex;
    flex-direction: column;
    margin: 5vh 5vw;
}

.header {
    align-self: center;
}


.form {
    display: flex;
    flex-direction: column;
}

.title {
    font-weight: 400;
    font-size: x-large;
    margin-bottom: 10px;
}

.textField {
    width: 50rem;
    min-height: 50px;
    height: fit-content;
    border-radius: unset;
    margin-bottom: 20px;
    font-size: larger;
}

.date {
    display: flex;
    justify-content: space-around;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.dateField {
    width: 140px;
    min-height: 40px;
    height: fit-content;
    border-radius: unset;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: x-large;
}

.saved {
    margin-top: 3vh;
    font-weight: 600;
    font-size: x-large;
}

.buttonBox {
    display: flex;
    justify-content: center;
    align-self: center;
}

.button {
    width: 120px;
    height: 50px;
    cursor: pointer;
    font-weight: 400;
    font-size: larger;
    margin: 50px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: black;
    color: white;
}

.button:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}

@media (max-width: 1400px) {
    .textField {
        width: 60vw;
    }

    .title {
        font-weight: 400;
        font-size: large;
    }
}

@media (max-width: 800px) {
    .textField {
        width: 90vw;
    }

    .title {
        font-weight: 400;
        font-size: medium;
        margin-bottom: 10px;
    }
}

@media (max-width: 450px) {
    .box {
        margin: 0;
    }

    .textField {
        width: 300px;
    }

    .title {
        font-weight: 400;
        font-size: small;
    }

    .dateField {
        width: 100px;
        font-size: small;
    }

    .form {
        align-items: center;
    }
}