.box {
    display: flex;
    flex-direction: column;
    margin: 5vh;
    margin-left: 15vw;
}

.header {
    align-self: center;
}


.form {
    display: flex;
    flex-direction: column;
}

.title {
    font-weight: 400;
    font-size: x-large;
    margin-bottom: 10px;
}

.textField {
    width: 50rem;
    min-height: 50px;
    height: fit-content;
    border-radius: unset;
    margin-bottom: 20px;
    font-size: larger;
}

.date {
    display: flex;
    justify-content: space-between;
    width: 30vw;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.dateField {
    width: 140px;
    min-height: 40px;
    height: fit-content;
    border-radius: unset;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: x-large;
}

.saved {
    margin-top: 3vh;
    font-weight: 600;
    font-size: x-large;

}

.buttonBox {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 30vw;
}

.button {
    width: 120px;
    height: 50px;
    cursor: pointer;
    font-weight: 400;
    font-size: larger;
    margin: 50px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: black;
    color: white;
}

.button:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}