.box,
.deleted {
    box-sizing: border-box;
    width: 65vw;
    padding: 10px 4vw;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 5vh;
}

.deleted {
    background-color: lightgray;
}

.titleBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.checkbox {
    width: 30px;
    height: 30px;
    margin-right: 2vw;
    cursor: pointer;
}

.description {
    margin-bottom: 15px;
}

.date {
    font-weight: 700;
    font-size: large;
}

.buttonBox {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 30vw;
}

.button {
    width: fit-content;
    height: 45px;
    margin-right: 10px;
    cursor: pointer;
    font-weight: 400;
    font-size: larger;
    border: 2px solid white;
    border-radius: 10px;
    background-color: black;
    color: white;
}

.button:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}

@media (max-width: 1400px) {
    .box {
        width: 80vw;
    }
}

@media (max-width: 700px) {
    .box {
        width: 95vw;
    }

    .titleBox {
        display: block;
    }
}

@media (max-width: 450px) {
    .date {
        font-weight: 700;
        font-size: small;
    }



    .button {
        height: 35px;
        font-size: small;
    }
}