.header {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-weight: 700;
    font-size: xx-large;
}

.name {
    text-decoration: none;
    color: #66FFCC;
    margin: 0;
}